fastapi
python-jose
uvicorn
pydantic
sqlalchemy
sqlalchemy-utils
mysql-connector-python
bcrypt
python-multipart
opencv-python
rembg
face-recognition
configparser
aiohttp
asyncer
filetype
gradio
watchdog